.container {
   display: flex;
   justify-content: center;
   justify-items: center;
   padding: 10%;
}

.form-container{
    margin: 0% 2%;
    display: block;
    max-width: 25%;
    min-width: 30rem;
    min-height: 15%;
    border-radius: 5%;
  
 }
.holiday-plan-form{
   padding: 2%;

}
.MuiFormHelperText-root{
   color: red !important;
}