<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href=
                  "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
 <div class="container  min-vh-100 col-md-offset-3  border border-1 rounded-3"
      style="display: flex; justify-content: center; align-items: center; " >
     <div class="row "  >
         <div class="col-sm-12 min-vh-1" style="display: flex; justify-content: center; align-items: center;">
             <div class="m-4"  >
                 <h2 style="color: rgba(143, 88, 175);fontSize: 2rem;textTransform: none;fontWeight: 700; fontFamily: Poppins, sans-serif;"
                     class="text-purple">Password Reset</h2>
             </div>
             <div th:if="${param.success}" class="color-success">
                 Password  was changed successfully.
             </div>
             <div th:if="${param.not_acceptable}" class="color-danger">
                 Failed to change Password.
             </div>

         </div>
         <div class="col-sm-12">
             <form th:action="@{reset-password}" method="post" th:object="${passwordResetRequest}" class="px-4">
                 <input type="hidden" name="token" th:field="*{token}" th:value="${token}">
                 <div class="row mb-3  g-3 align-items-center">
                     <label for="inputEmail6" class="col-sm-2 col-form-label">Email</label>
                     <div class="col-sm-7.5">
                         <input
                                 type="email"
                                 autofocus="autofocus"
                                 required
                                 id="inputEmail6"
                                 class="form-control"
                                 aria-describedby="emailHelpInline"
                                 name="username"
                                 th:field="*{username}"

                         >

                     </div>
                 </div>
                 <div class="row mb-3  g-3 align-items-center">
                     <label for="inputPassword6" class="col-sm-2 col-form-label">Password</label>
                     <div class="col-sm-8">
                         <div class="row">
                             <div class="col-sm-11">
                             <input
                                     type="password"
                                     autofocus="autofocus"
                                     required
                                     id="inputPassword6"
                                     class="form-control"
                                     aria-describedby="passwordHelpInline"
                                     name="newPassword"
                                     th:field="*{newPassword}"
                                     onchange="checkPasswordMatches()"
                                     oninput="checkPasswordMatches()"
                             >
                             </div>
                             <div class="col-sm-1">
                                 <i class="bi bi-eye-slash mt-0.5 new" onclick="showPasswords()"
                                    style="  margin-left: -45px;cursor: pointer;"
                                    id="toggleNewPassword"></i>
                             </div>
                         </div>

                     </div>
                     <div class="col-sm-2">
                        <span id="passwordHelpInline" class="form-text">
                          Minimum 6 characters.
                        </span>
                     </div>
                 </div>

                 <div class="row mb-3 g-3 align-items-center">

                     <label for="inputConfirmPassword6" class="col-sm-2 col-form-label">Confirm Password</label>

                     <div class="col-sm-8">
                         <div class="row">
                             <div class="col-sm-11">
                                 <input
                                         type="password"
                                         autofocus="autofocus"
                                         required
                                         id="inputConfirmPassword6"
                                         class="form-control"
                                         aria-describedby="passwordHelpInline"
                                         name="confirmPassword"
                                         th:field="*{confirmPassword}"
                                         onchange="checkPasswordMatches()"
                                         oninput="checkPasswordMatches()"
                                 >
                             </div>
                             <div class="col-sm-1">
                                 <i class="bi bi-eye-slash mt-0.5 confirm" style=" margin-left: -45px;cursor: pointer;"
                                    id="toggleConfirmPassword" onclick="showPasswords()"></i>
                             </div>
                         </div>
                     </div>
                     <div class="col-sm-2">
                        <span id="confirmPasswordHelpInline" class="form-text">
                             Minimum 6 characters.
                        </span>
                     </div>
                 </div>
                 <div class="d-grid gap-2 col-8 mx-auto mb-3">
                     <button id="submit_btn" style="background-color: rgba(143, 88, 175); color: #ffffff" class="btn" type="submit">Reset Password</button>
                 </div>
            </form>
         </div>
     </div>

 </div>
<script>
    var new_password = document.getElementById("inputPassword6");
    var confirm_password = document.getElementById("inputConfirmPassword6");
   function checkPasswordMatches(){
       if(new_password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
            document.getElementById("submit_btn").disabled=true;
            confirm_password.style.border = '5px solid';
            confirm_password.style.borderColor = 'red';
            confirm_password.style.border = '1px solid';
               confirm_password.style.borderColor = 'red';
       }
       else {
               confirm_password.setCustomValidity('');
               document.getElementById("submit_btn").disabled=false;
               confirm_password.style.border = '1px light';
               confirm_password.style.borderColor = 'grey';
       }

   }
   function showPasswords(e){
       const toggleNewPassword = document.querySelector('#toggleNewPassword');
       const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');


       function toggle(togglePassword, password){
               const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
               password.setAttribute('type', type);
               togglePassword.classList.toggle('bi-eye');

       }
       if(event.target.matches('.new'))toggle(toggleNewPassword, new_password);
       if(event.target.matches('.confirm'))toggle(toggleConfirmPassword, confirm_password);
   }


</script>
</body>
</html>