
html{
    background-color: #282a36;

}

.container{
    margin: 0 10px;
    display: inline-block;
   
}
.card{
    background-color: bisque;
    height: 220x;
    width:  100%;
    margin: 10px 10px;
    border-radius: 10px;
    display: inline-block;

}
.image-description{
   display: flex;
}
.card-image{
    padding: 0 1%;
    margin-left: 15px;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 5px;
}
.card-image img{
    height: 100%;
    width: 100%;

}

.card-description{
    justify-content: start;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: sans-serif;
    align-content: start;
    transform: none;
    text-align: justify;
    text-justify: inter-word;

}
.card-actions{
    display: flex;
    padding: 5% 1%;

}
.location{
    display: flex;
}
.dates{
    display: flex;  
}
.dates h2{
    margin: 0 10px;
}
.card a{
    padding: 15px 20px;
    background-color: turquoise;
    text-decoration: none;
    border-radius: 5px;
    text-justify: center;
}

.more{
    color:blue !important;
    font-size: small !important;
}
.rate-visit{
    margin-right: auto;
}

.delete-btn{
    color: red;
}
