.form{
   justify-content: center;
   display: auto;
   width: 45%;
}
.inputs input{
    display: block;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid blue;
    min-height: 1.5rem;
    text-indent: 5px;
    width: 100%;
    padding-top: 1.5rem;
    margin-top: 1rem;
}
.inputs button{
    display: block;
    background-color: rgb(31, 209, 209);
    padding: 15px 35px;
    margin-left: auto;
    margin: 1rem 0rem;

}
.inputs button:hover{
    color: white;
    background-color: rgb(31, 209, 209);

}