.nav-bar{

    background: linear-gradient(to right,rgba(145, 111, 179, 0.5),rgba(102, 51, 153, 0.85),rgba(77,26,127  , 0.90),rgba(77,26,127 , 0.6));
    width: 100%;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    justify-items: space-between;
    height: auto;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
    padding: 0.7rem
}
.nav-item{
    display: flex;
    align-items: center;
}

.title{
   font-size: 1.8rem;
   margin-right: auto;
}
.date{
    font-size: 0.9rem;
    margin-right: 5%;
}