.register{
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    display: block;
    padding: 5% 40%;

}
.heading{
    font-size: 2.5rem;
    text-align: center;
}
.register-container{
    border-radius: 5%;
    border: 1px solid wheat;
    
}
.register-inputs{
    text-align: start;
    padding: 2rem;
}
.register-inputs>input,label,button{
    width: 100%;
}
.register-inputs>input,button{
    border: none;
    border-radius: 0.5rem;
    min-height: 3rem;
}

.login-nav{
    font-size: small;
    padding: 10% 5%;
    font-size: 1rem;
    text-align: center;
}
.login-nav>a{
    color: white;

}
.submit-btn{
    margin-top: 10%;
    font-size: 1rem;
    color: blueviolet;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: blue;
    color: white;
}
