.register{
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    display: block;
    padding:  5.5% 40%;
    min-width: 25rem;
    background-color: rgb(99, 108, 116);

}
.heading{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(143, 88, 175);
}
.register-container{
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);

}
.register-inputs{
    text-align: start;
    padding: 1rem;
}
.register-inputs>input,label,button{
    width: 100%;
}
.register-inputs>input,button{
    border: none;
    border-radius: 0.5rem;
    min-height: 3rem;
}

.login-nav{
    font-size: small;
    padding: 1.5%;
    font-size: 1rem;
    text-align: center;
}
.login-nav>a{
    color: white;

}
.submit-btn{
    margin-top: 10%;
    font-size: 1rem;
    color: blueviolet;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: blue;
    color: white;
}

.radio-group>button:checked{
    color: blueviolet;
}

.register-inputs>.user-type{
    margin: 10% 0%;
   
}

